
.box
{
    height: 777px;
    background: url(yes_img/bg_lightgray.png);
}
.main_box
{
    display: flex;
    width: 100%;
    
    justify-content: center;
    height: 448px;
}
.main_img   
{
    
    margin-top: 85px;
    margin-right: 40px;
    width: 889px;
    height: 363px;

}
.start_box
{
    margin-top: 54px;
    height: 49px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.coor_btn
{
    
    margin-right: 30px;
    
}

.par_btn
{
    width: 201px;
    margin-right: 50px;
    
}
.box img
{
    cursor: pointer;
}

.compo
{
    height: 170px;
}

.bottom_box
{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line_1
{
    margin-top: 40px;
    display: flex;
    color: #f28234;
    font-size: 14px;
    
}

.line_2
{
    display: flex;
    color: #7c7d80;
    font-size: 14px;
    margin-top: 8px;
}

.line_3
{
    color: #7c7d80;
    font-weight: bolder;
    font-size: 14px;
    margin-top: 16px;
}

@media (max-height:960px) {
    .box
        {
            height: 600px;
            background: url(yes_img/bg_lightgray.png);
        }
    .main_img   
        {
            margin-top: 20px;       
        }    
    .start_box
        {
            margin-top: 10px;
        }
    .bottom_box img
        {
            height: 120px;
        }
}

@media (max-height:655px) {



}